.home{
  text-align: center;
  padding-top: 12rem;
  max-width: 85%;
  margin: auto;

  &__tagline{
    font-size: 4rem;
  }
  &__description{
    font-size: 2.5rem;
    padding: 2rem 5rem 4rem;
  }
  .btn-dark{
    padding: 1rem 4.5rem;
    font-size: 2.2rem;
    strong{
      font-weight: 500;
      letter-spacing: .1rem;

    }
  }
}